<div style="min-height:500px;">
  <div class="center hero-unit">
    <h1>Welcome to BookmyEvent</h1>

    <h2>
      This is the home page for the BookmyEvent</a>
      application.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
</div>  
