<% provide(:title, 'All users') %>
<h1 class="header_name">All Users</h1>
<div style="min-height:500px;">

  <%= will_paginate %>

  <ul class="users">
    <%= render @users %>
  </ul>

  <%= will_paginate %>
</div>