<div class="clearfix" style="margin-top:20px;">
  <div>
    <div>
      <h4><%= link_to event.name, event %></h4>
    </div>
    <div>
      <%=raw(event.description)%>
    </div>
    <hr/>
  </div>
</div>