<% provide(:title, 'All Categories') %>
<h1 class="header_name">All Categories</h1>
<div>
 <div style="float:left; margin-top:25px;margin-left:25px;">
    <%= link_to "add category",new_category_path%>
  </div>

  <div style="float:left; margin-left:285px;">

    <%= will_paginate %>

    <ul class="categories">
      <%= render @categories %>
    </ul>
    <%= will_paginate %>
  </div>
</div>