<% provide(:title, 'All Categories') %>
<h1 class="header_name">All Categories</h1>
<div style="min-height:500px;">
 <div class="clearfix" style="margin-left:80%;margin-right:25px">
    <% if current_user.admin? %>
      <div class="pull-right">
        <%= link_to "Add Category",new_category_path %>
      </div>
    <% end %>
  </div>

  <div>
    <%= will_paginate %>
    <div class="categories">
      <%= render @categories %>
    </div>
    <%= will_paginate %>
  </div>
</div>