<% provide(:title, @category.name) %>
<div style="min-height:500px;">
  <div>
      <div style="margin-left:0.3px">
        <div style="margin-top:20px">
            <h> Name: </h>
            <%=@category.name%>
          </div>
          <div style="margin-top:20px">
            <h> Description: </h>
            <%=raw(@category.description)%>
          </div>
      </div>
    
  </div>

  <div style="margin-bottom:20px;margin-top:20px;">
    <% if current_user.admin? %>
  <%= link_to "edit", edit_category_path(@category) %>
    | <%= link_to "delete", @category, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  </div>

</div>

